<div class="userData">
    <div> {{ rc.date | date:'yyyy-MM-dd HH:mm:ss Z'}} </div>
    <div>/~ user$: cd {{rc.user.data.repos_url}}</div>
    <div>/api.github.com/users/mikeekert/repos user$: ls -a</div>
    <div class="preData">
        total repositories: {{rc.repos.data.length}}
    </div>
    <div ng-repeat="i in rc.repos.data" class="ngCloak">
        <a ng-href="{{i.html_url}}" target="_blank"> {{ i.name }} </a>
    </div>
    <div>
        /~ user$:
        <span class="blinking-cursor">_</span>
    </div>
</div>